.main {
  position: relative;
  height: 100vh;

  padding: 0;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
  overflow-x: hidden;

  transition: 0.5s ease;
}

.view {
  margin-left: 14rem;
}
