.menu {
  position: relative;

  height: 2.5rem;
  width: min-content;

  padding: 0.5rem;

  > div {
    border-radius: 1.25rem;
    display: flex;
    align-items: center;

    button {
      white-space: nowrap;
      border-radius: 0.75rem;
      h5 {
        text-transform: uppercase;
      }
    }
    > div {
      display: flex;
    }
  }
}

.menu button {
  font-size: 1rem;
  height: 1.5rem;
  min-width: 1.5rem;
  padding: 0 0.25rem;
  margin-right: 0.25rem;
  border-top: none;

  border: none;

  transition: 0.3s ease;
}

//init
.menu > div > div > button {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-0.5rem);
}
.menu > div > div .show_btn {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
