.aside {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  height: 100vh;

  * {
    border-width: thin !important;
  }

  nav {
    position: relative;
    height: 100%;
    width: 100%;
  }
}
.nav {
  display: grid;
  grid-template:
    'heading' auto
    'links' 1fr
    'footer' 9rem / 100%;

  .heading {
    grid-area: heading;
  }
  .links {
    grid-area: links;
  }
  .footer {
    grid-area: footer;
  }
}

//styling
//
.aside {
  transition: 0.5s ease;
}
.nav {
  border-top: none !important;
  border-left: none !important;
  border-bottom: none !important;
  box-shadow: 0 0 5rem -3rem currentColor;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  h5 {
    margin: 0;
    padding: 0;
    margin-left: -0.2rem;
    margin-top: 0.5rem;
  }
}
