.aside {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100vh;

  .nav {
    position: relative;
    height: 100%;
    width: 100%;
  }
}

.nav {
  display: grid;
  grid-template:
    'header' auto
    'links' 1fr
    'footer' 9rem / 100%;

  #header {
    grid-area: header;
  }
  .links {
    grid-area: links;
  }
  #footer {
    grid-area: footer;
  }
}

//styling
.nav {
  border-top: none !important;
  border-left: none !important;
  border-bottom: none !important;
  box-shadow: 0 0 5rem -3rem currentColor;
}
