.aside {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100vh;
  width: 14rem;
}

.nav {
  position: relative;
  height: 100%;
  width: 100%;

  border-top: none !important;
  border-left: none !important;
  border-bottom: none !important;

  box-shadow: 0 0 5rem -4rem black;
}
.nav {
  display: grid;
  grid-template:
    'header' auto
    'links' 1fr
    'footer' auto / 100%;

  > :nth-child(1) {
    grid-area: header;
  }
  > :nth-child(2) {
    grid-area: links;
  }
  > :nth-child(3) {
    grid-area: footer;
  }
}
