.input {
  height: 2rem;
  width: 100%;

  padding: 0 0.5rem;

  color: currentColor;
  border: thin solid;
  outline: thin solid transparent;
  border-radius: 0.25rem;

  background: transparent;

  transition: 0.2s ease;

  box-shadow: inset 0 0 0 0 currentColor, 0 0 0 0 currentColor;
}

.input:focus {
  box-shadow: inset 0 0 1rem -0.5rem currentColor, 0 0 0 0 currentColor;
}
.input:hover {
  box-shadow: inset 0 0 0 0 currentColor, 0 0 1rem -0.6rem currentColor;
}
