.textarea {
  width: 100%;

  resize: vertical;

  padding: 0 0.5rem;

  color: currentColor;
  border: thin solid;
  outline: thin solid transparent;
  border-radius: 0.25rem;

  transition: 0.05s ease;

  background: transparent;

  box-shadow: inset 0 0 0 0 currentColor, 0 0 0 0 currentColor;
}

.textarea:focus {
  box-shadow: inset 0 0 1rem -0.5rem currentColor, 0 0 0 0 currentColor;
}
.textarea:hover {
  box-shadow: inset 0 0 0 0 currentColor, 0 0 1rem -0.6rem currentColor;
}
