.input {
  width: 100%;
  padding: 0.25rem;
  padding-left: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.5rem;

  background: transparent;

  color: inherit;
  border: thin solid transparent;
  pointer-events: none;
}

.isEditing {
  border-bottom: thin dashed;
}

.input:focus {
  border-bottom: thin solid currentColor;
  outline: none;
  background-color: rgba(200, 200, 100, 0.05);
}
