.menu_settings {
  position: relative;
  display: flex;
  justify-content: flex-end;
  grid-area: settings;
  > div {
    display: flex;
  }

  button {
    font-size: 0.7rem;
    margin-left: 0.5rem;
  }
}

.del_edit {
  position: absolute;
  z-index: 1000;
  right: 2.5rem;

  button {
    width: min-content;
    white-space: nowrap;
    padding: 0 0.5rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
  }
  :nth-child(1) {
    margin: 0;
  }
}
.del_edit_hidden {
  right: 2.5rem;
  opacity: 0;
  pointer-events: none;
}
