.section {
  transition: 0.3s ease;
}

.header {
  height: calc(5rem - 1px);

  padding: 1.5rem;

  box-shadow: 0 0 3rem -2rem black;
  border-bottom: thin solid rgba(0, 0, 0, 0.1);

  display: grid;
  grid-template: 'title menu foldBtn' 1fr / auto 1fr 2rem;
  gap: 3rem;
}

@media screen and (max-width: 840px) {
  .section {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 425px) {
  .section {
    margin-bottom: 0;
  }
}
