::-webkit-scrollbar {
  width: 0.65rem;
}
::-webkit-scrollbar-track {
  background: rgb(150, 200, 200);
  outline: 1px solid rgb(100, 150, 150);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(230, 230, 230);
  border-radius: 0.25rem;
}

::-webkit-button {
  color: currentColor;
}
::-webkit-scrollbar-track-piece {
  color: currentColor;
}

@media screen and (max-width: 840px) {
  ::-webkit-scrollbar-thumb {
    visibility: hidden;
  }
  ::-webkit-scrollbar {
    visibility: hidden;
    -webkit-appearance: none;
    display: none;
  }
  ::-webkit-scrollbar-track {
    visibility: hidden;
  }
}
