.wrapper {
  overflow: hidden;

  border-left: thin dotted currentColor;
  border-right: thin dotted currentColor;
  border-bottom: thin dotted currentColor;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  transition: 0.4s ease;
  * {
    transition: 0.4s ease;
  }
}

.header {
  height: 1.5rem;
  border: thin solid;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: inset 0 0 0 0 currentColor;
}
.header:hover {
  cursor: pointer;
  box-shadow: inset 0 0 1rem -0.3rem currentColor;
}

.childWrapper {
  padding: 1rem;
}
