@import '../common';

.subtask {
  position: relative;
  height: 2rem;

  padding: 0.25rem 1rem;
  margin: 0.25rem 0;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: gray;

  > .editResolve {
    width: 100%;
    display: flex;
    align-items: center;

    > button {
      margin-right: 0.5rem;
    }
    input {
      height: 1.5rem;
      border-radius: 0;
      width: 100%;
    }
    .timeInput {
      margin-left: 1rem;
      width: 5rem;
      display: flex;
      align-items: center;
    }
  }
  .deleteBtn {
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.75rem;
    width: 1.75rem;
  }
}
.resolved {
  > .editResolve {
    color: green;
  }
}

.subtask input {
  height: 100%;
  width: 100%;
  margin: 0;
}

.subtask button {
  height: 1rem;
  width: 1rem;
  padding: 0;
  border-radius: 50%;
}

.newSubtask {
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem;

  * {
    font-weight: 300;
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
