.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  > ul {
    width: 100%;
    margin-bottom: 0.5vw !important;

    h4 {
      text-align: center;
      font-size: 1.1rem;
      font-weight: 400;
      margin: 0;
    }
    li {
      padding: 0;
      list-style: none;
      width: 100%;
      text-align: center;
    }
  }
  > :nth-last-child(1) {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0.25rem;
  }
}

.ul {
  margin-bottom: 1rem;
}
