.wrapper {
  height: 2rem;
  display: flex;
  align-items: center;
}
.wrapper h3 {
  text-transform: uppercase;
}

.wrapper > :nth-child(1) {
  letter-spacing: 3px;

  margin-right: 0.5rem;
  border-bottom: thin solid;
}
.wrapper > :nth-child(2) {
  border-bottom: thin solid transparent;
}
